/* ----- CSS Header ----- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 11, 73, 0.99);
    color: #fff;
    padding: 10px 0;
    z-index: 1000; /* Para garantir que o cabeçalho fique acima de outros elementos */
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgba(0, 11, 73, 0.99);
    color: #fff;
}

#logo_header {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #c414b5;
}

nav, ul {
    display: flex;
    flex-direction: row;
}

a, li {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

a:hover {
    color: #c414b5;
    font-size: 18px;
    font-weight: 800;
}

li {
    margin-left: 27px;
}